pipeline/PL_Set_and_Append_variable_diff_V3.json
{
	"name": "PL_Set_and_Append_variable_diff_V3",
	"properties": {
		"description": "we are creating 3 variables, please do the compare of 1st and 3rd set variable input schema to get more idea.",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct country from dbo.ADDRESS_COMMON",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_SQL_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "ADDRESS_COMMON"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Setvariable_one",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Setvariable_final",
								"value": {
									"value": "@variables('Append_variable_one')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Append_variable_one",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Setvariable_one": {
				"type": "String"
			},
			"Append_variable_one": {
				"type": "Array"
			},
			"Setvariable_final": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-16T06:31:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}